{% extends "base.html" %}
{% block content %}
<div class="container posts-content">
    <div class="row">
      {% for post in posts %}
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="d-block ui-w-40 rounded-circle" alt="">
                  <div class="media-body ml-3">
                    {{post.user.username}}
                    <div class="text-muted small">{{ post.created_on.date }}</div>
                  </div>
                </div>
            
                <p>
                  <p>{{ post.body | slice:":400" }}...
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar3.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                    <strong>{{post.like.user.count}}</strong> <small class="align-middle">Likes</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                    <strong>{{post.comment.body.count}}</strong> <small class="align-middle">Comments</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">Repost</small>
                </a>
              </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}